@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; }

body {
    background-color: black;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif; }

article {
    color: white; }

.titulo-pagina {
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 5px; }

.buscador {
    color: white;
    border: none;
    margin-bottom: 20px;
    background-color: #0a0a0a;
    text-align: center;
    width: 550px;
    font-size: 1.5rem;
    border-radius: 20px; }

.submit-buscador {
    display: none; }

.section-pelicula {
    width: 200px;
    background-color: #0a0a0a;
    margin: 5px;
    border-radius: 10px; }

.imagen-pelicula {
    width: 186px;
    border-radius: 5px; }

.generos {
    margin-bottom: 7px;
    margin-top: -10px; }

#generos-filtrar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0; }
    #generos-filtrar li {
        list-style:none;
        margin: 0; }
        #generos-filtrar li a {
            display: flex;
            flex-flow: row nowrap;
            color: white;
            text-decoration: none;
            list-style:none;
            margin-left: 3px;
            margin-right: 3px;
            margin-top: 3px;
            background-color: #0a0a0a;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 20px;
            font-size: 1.25rem; }
        #generos-filtrar li a:hover{
            background-color: rgba(0, 139, 139, 0.5);
            transition: 0.25s; }

.genero {
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.09);
    padding-left:10px;
    padding-right: 10px;
    border-radius: 20px;
    margin: 2px; }

.modal-content {
    background-color: black;
    color: white; }

.btn-close {
    background-color: cyan; }
    .btn-close:hover {
        background-color: cyan; }

.btn {
    border: none;
    box-shadow: none !important; }

.btn-warning {
    background-color: darkcyan; }
.btn-warning:hover {
    background-color: cyan; }

.duracion {
    color: darkcyan; }


@media screen and (max-width: 576px) and (min-width: 401px) {

.titulo-pagina {
    width: 150px; }

.buscador {
    width: 300px; }

.section-pelicula {
    width: 176px; }

.imagen-pelicula {
    width: 162px; } }

@media screen and (max-width: 400px) and (min-width: 0px) {

.titulo-pagina {
    width: 125px; }

.buscador {
    width: 250px; }

.section-pelicula {
    width: 150px; }

.imagen-pelicula {
    width: 134px; } }